server:
  port: 8080 # Gateway 서버 포트 (클라이언트의 진입점)

spring:
  application:
    name: gateway-service # Gateway 애플리케이션 이름
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true # Eureka에 등록된 서비스를 자동으로 찾아서 라우팅할 수 있도록 설정
          lower-case-service-id: true # 서비스 ID를 소문자로 변환하여 사용 (URL 대소문자 문제 방지)
      routes: # 명시적 라우팅 설정
        - id: product-service # 라우트 식별자
          uri: lb://product-service # 'lb://'는 로드 밸런싱을 의미하며, Eureka에 등록된 'product-service'로 전달
          predicates:
            - Path=/products/** # '/products/'로 시작하는 모든 요청을 이 서비스로 라우팅
        - id: partner-service
          uri: lb://partner-service
          predicates:
            - Path=/partners/**
        - id: inventory-service
          uri: lb://inventory-service
          predicates:
            - Path=/inventory/** # '/partners/'로 시작하는 요청 라우팅
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/orders/** # '/orders/'로 시작하는 요청 라우팅
        - id: inventory-service
          uri: lb://inventory-service
          predicates:
            - Path=/inventory/** # '/inventory/'로 시작하는 요청 라우팅

      globalcors: # 프론트엔드 연동을 위한 전역 CORS 설정
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:5173" # 허용할 프론트엔드 도메인
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/ # Eureka Server 주소 (서비스 등록 및 조회용)
